kf.exe
kf-tile.exe
README.pdf
LICENSE.pdf
cl/*_cl.c
gl/*.h
formula/formula_*_*.*.cpp
formula/hybrids.cpp
formula/miscellaneous.cpp
formula/perturbation_opencl.cpp
formula/perturbation_scaled.cpp
formula/perturbation_scaled_derivatives.cpp
formula/perturbation_simd.cpp
formula/perturbation_simd_derivatives.cpp
formula/perturbation_simple.cpp
formula/perturbation_simple_derivatives.cpp
formula/reference.cpp
formula/perturbation_convergent_simple.cpp
preprocessor
preprocessor.hi
*.d
*.o
*.a
*.res
manual.html
_
